*.apk
Library/ScriptAssemblies/Assembly-CSharp.dll
Assets/sounds/Victory.wav.meta
Library/InspectorExpandedItems.asset
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/00/004df943ccc067644bf29843ecfcde32
Library/metadata/00/004df943ccc067644bf29843ecfcde32.info
Library/metadata/00/004df943ccc067644bf29843ecfcde32.resource
Library/metadata/01/0154accca1288b644b394c435587b72d
Library/metadata/45/45e1dd61fe876c041822e03fb141dd1b
Temp/UnityLockfile
Temp/UnityTempFile-216b26fff7e3a2d449b84b08bef29307
Temp/UnityTempFile-55db31f0ada92ae4b9e5448ff333f9ae
Temp/UnityTempFile-770d209fe540f7d49b332f6dde095305
Temp/UnityTempFile-cfe7a5df4e560e147bbd555070123dc7
Temp/__Backupscenes/0.backup
