*.apk
*.meta
Library\*Cache\*
*.log
Temp/StagingArea/raw/bin/Data/data.unity3d
Library/LastBuild.buildreport
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/PlayerDataCache/ScriptLayoutHashes.txt
Library/PlayerDataCache/Data/PlayerConnectionConfigFile
Library/PlayerDataCache/Data/data.unity3d
Library/PlayerDataCache/Data/sharedassets1.resource
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/00/004df943ccc067644bf29843ecfcde32
Library/metadata/00/004df943ccc067644bf29843ecfcde32.info
Library/metadata/00/004df943ccc067644bf29843ecfcde32.resource
Library/metadata/01/0154accca1288b644b394c435587b72d
Library/metadata/6e/6eaba864b2dd8924ab1fe301f71309e3
Library/metadata/6e/6eaba864b2dd8924ab1fe301f71309e3.info
Library/metadata/6e/6eaba864b2dd8924ab1fe301f71309e3.resource
Library/metadata/ff/ff2de6f5e032fd14d997c1204a167bb9.info
Temp/UnityLockfile
Temp/UnityTempFile-0646fff10e5ba7045bd34078ba8f62f2
Temp/UnityTempFile-0c324522f2e8a3246934dda5f40980dd
Temp/UnityTempFile-216b26fff7e3a2d449b84b08bef29307
Temp/UnityTempFile-55db31f0ada92ae4b9e5448ff333f9ae
Temp/UnityTempFile-770d209fe540f7d49b332f6dde095305
Temp/UnityTempFile-b71b323f77784ab468cb50b0dbe5a17b
Temp/UnityTempFile-cfe7a5df4e560e147bbd555070123dc7
Temp/StagingArea/AndroidManifest.xml
Temp/StagingArea/AndroidManifest-main.xml
Temp/StagingArea/assets.ap_
Temp/StagingArea/raw.ap_
Temp/StagingArea/assets/bin/Data/PlayerConnectionConfigFile
Temp/StagingArea/assets/bin/Data/boot.config
Temp/StagingArea/assets/bin/Data/unity default resources
Temp/StagingArea/assets/bin/Data/Managed/Assembly-CSharp.dll
Temp/StagingArea/assets/bin/Data/Managed/Assembly-CSharp.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/Mono.Security.dll
Temp/StagingArea/assets/bin/Data/Managed/Mono.Security.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/System.dll
Temp/StagingArea/assets/bin/Data/Managed/System.Core.dll
Temp/StagingArea/assets/bin/Data/Managed/System.Core.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/System.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.dll
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.Networking.dll
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.Networking.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.Timeline.dll
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.Timeline.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.UI.dll
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.UI.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/UnityEngine.dll.mdb
Temp/StagingArea/assets/bin/Data/Managed/mscorlib.dll
Temp/StagingArea/assets/bin/Data/Managed/mscorlib.dll.mdb
Temp/StagingArea/bin/classes.dex
Temp/StagingArea/bin/resources.ap_
Temp/StagingArea/gen/com/RTC/TiltingMaze/R.java
Temp/StagingArea/libs/armeabi-v7a/libmain.so
Temp/StagingArea/libs/armeabi-v7a/libmono.so
Temp/StagingArea/libs/armeabi-v7a/libunity.so
Temp/StagingArea/libs/x86/libmain.so
Temp/StagingArea/libs/x86/libmono.so
Temp/StagingArea/libs/x86/libunity.so
Temp/StagingArea/raw/bin/Data/sharedassets1.resource
Temp/StagingArea/res/drawable-mdpi/app_icon.png
Temp/StagingArea/res/drawable-xhdpi/app_banner.png
Temp/StagingArea/res/values/strings.xml
Temp/StagingArea/res/values/styles.xml
Temp/StagingArea/res/values-v14/styles.xml
Temp/StagingArea/res/values-v21/styles.xml
Temp/__Backupscenes/0.backup
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll
Library/LastBuild.buildreport
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/PlayerDataCache/ScriptLayoutHashes.txt
Library/PlayerDataCache/Data/PlayerConnectionConfigFile
Library/PlayerDataCache/Data/data.unity3d
Library/PlayerDataCache/Data/sharedassets1.resource
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/01/0154accca1288b644b394c435587b72d
Library/metadata/ff/ff2de6f5e032fd14d997c1204a167bb9.info
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll
Library/LastBuild.buildreport
Library/assetDatabase3
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/PlayerDataCache/ScriptLayoutHashes.txt
Library/PlayerDataCache/Data/PlayerConnectionConfigFile
Library/PlayerDataCache/Data/data.unity3d
Library/PlayerDataCache/Data/sharedassets1.resource
Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/01/0154accca1288b644b394c435587b72d
Library/metadata/ff/ff2de6f5e032fd14d997c1204a167bb9.info
